{% extends 'base.html' %}

{% block title %}Контакты{% endblock%}

{% block content %}

    <hr>
    <div class="info_block" id="cont_info">
        <h3>Контакты:</h3>
        <p>e-mail: lopaypoaoy@gmail.com</p>
        vk: <a href="https://vk.com/sem2n">Syoma Godovikov</a><br>
        GitHub: <a href="https://github.com/72n">72n</a><br>
        Steam: <a href="https://steamcommunity.com/id/lopaypopay/">72n</a><br>
        Twitch: <a href="https://www.twitch.tv/lopaypopaoy">lopaypopaoy</a>
        <p>discord: lopaypopay#7225</p><br>
    </div>

{% endblock %}